.introduction {
  font-size: 16px;
  padding-bottom: var(--space);
  padding-top: var(--space);
}

.introduction__text {
  font-size: 12px;
}

.introduction__twitter {
  bottom: 1px;
  color: var(--default-color);
  margin-left: calc(var(--space)/4);
  position: relative;
}
