extends _layouts/base

include _partials/helpers

block title
  title= config.title

block content

  .pure-g

    header.pure-u-1
      .container-introduction
        +introduction(config)
    
    .pure-u-1
      .container-posts
        for post in page.posts.toArray()
          +post(post, config)

        .container-paginator
          +paginator(page)

