.footer {
  border-top: var(--border-thickness-s) solid var(--weak-color);
  font-size: 12px;
  padding-top: var(--space);
}

.footer__avatar {
  border-radius: 50%;
  margin-right: var(--space);
}

.footer__copyright {
  margin-top: 2px;
}
