body {
  background-color: var(--base-color);
  font-family: var(--font-family);
  font-size: 14px;
  word-break: break-word;
  -webkit-text-size-adjust: 100%;
}

a {
  color: var(--link-color);
  text-decoration: none;
}

img {
  max-width: 100%;
}
