body {
  background-color: var(--base-color);
  font-family: var(--font-family);
  font-size: 14px;
  word-break: break-word;
  -webkit-text-size-adjust: 100%;
}

a {
  color: var(--link-color);
  text-decoration: none;
}

img {
  max-width: 100%;
}

table {
  display: block;
  width: 100%;
  overflow: auto;
  border-spacing: 0;
  border-collapse: collapse;
}

tr:nth-child(2n) {
  background-color: #f8f8f8;
}

th, td {
  padding: 6px 13px;
  border: 1px solid var(--weak-color);
}
